* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: gray;
  color: #fff;
}

.container {
  height: 800px;
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  overflow: hidden;
  background-color: black;
}

@media screen and (max-width: 480px) {
  .container {
    max-width: 100%;
    max-height: none;
  }

  .header-img {
    max-width: 100%;
    max-height: none;
  }

  .maincontent {
    max-width: 100%;
  }

  .footer {
    max-width: 100%;
  }
}